<div class="page-title max-w-content mx-auto text-center mb-12">
    {% if data.title %}
    <h1 class="text-4xl">{{ data.title }}</h1>
    {% endif %}
    {% if data.description %}
    <p class="text-lg text-gray-600">{{ data.description }}</p>
    {% endif %}
</div>