<div class="author-bio">
    <h3>About the Author</h3>
    <div class="author-info">
        {% if author.avatar %}
        <img src="{{ author.avatar }}" alt="{{ author.name }}" class="author-avatar">
        {% endif %}
        <div class="author-details">
            <h4>{{ author.name }}</h4>
            <p>{{ author.bio }}</p>
            {% if author.twitter %}
            <a href="https://twitter.com/{{ author.twitter }}" class="author-twitter">Follow on Twitter</a>
            {% endif %}
        </div>
    </div>
</div>