<div class="image-block">
    <img src="{{ image.src }}" alt="{{ image.alt }}" {% if image.class %}class="{{ image.class }}"{% endif %}>
    {% if image.caption %}
    <p class="caption">{{ image.caption }}</p>
    {% endif %}
</div>